
.size{
    width: 500px;
    height: 400px;
}

.info{
    border: 1px solid black;
    text-align: center;
    margin: 1em;
    width: 500px;
    height: 400px;
}


.btn-compra{
    margin: 1em ;
    background-color: #ffcc00;
    border-color: #ffcc00;
}

.btn-compra:hover{
    background-color: #eed77d;
}